# OS
.DS_Store
Thumbs.db

# Editors / IDE
.idea/
.vscode/
nbproject/private/
*.iml
**/.project
**/.classpath
**/.settings/

# Java / Maven / Gradle (globalno)
**/target/
**/build/
**/out/
.mvn/wrapper/maven-wrapper.jar

# Spring Boot lokalni config / tajne (globalno)
**/src/main/resources/application.properties
**/src/main/resources/application-*.properties
**/*.jks
**/*.keystore
**/*.p12

# Node / React (globalno)
**/node_modules/
**/build/
**/.parcel-cache/
**/.next/
**/dist/

# Frontend env fajlovi (lokalni, ne u repo)
**/.env
**/.env.*
!**/.env.example

# Logovi
logs/
*.log
**/*.log

# Misc
*.swp
*.tmp
